@charset "UTF-8";
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", "sans-serif";
}

header h1 {
  font-family: "Shrikhand", "sans-serif";
}

footer h2 {
  font-family: "Shrikhand", "sans-serif";
}

.rest_menu h2 {
  font-family: "Shrikhand", "sans-serif";
}

h3 {
  font-weight: bold;
}

.loader {
  font-family: "Shrikhand", "sans-serif";
}

header h1 {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 10px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

main .location {
  background: #f0f0f0;
}
main .location p {
  color: #3a3a3a;
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding: 15px;
}
main .location i {
  text-align: center;
  padding-right: 15px;
  font-size: 20px;
  color: #3a3a3a;
}
main .panel {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: whitesmoke;
}
main .panel h2 {
  padding-top: 25px;
  text-align: center;
  margin: 0;
}
main .panel p {
  color: #555555;
  font-weight: normal;
}
main .steps {
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
}
main .steps p {
  padding-top: 25px;
  padding-bottom: 25px;
}
main .steps__list {
  font-weight: bold;
}
@media screen and (min-width: 880px) {
  main .steps__list {
    /* Liste Fonctionnement passe en ligne à partir de 880px */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
main .steps__list span {
  font-weight: normal;
  color: white;
  background-color: #9356DC;
  border-radius: 75px;
  padding: 3px 8px 3px 8px;
  position: absolute;
  left: -10px;
}
@media screen and (min-width: 1000px) {
  main .steps__list span {
    left: -12px;
  }
}
main .steps__list .list_1, main .steps__list .list_2, main .steps__list .list_3 {
  position: relative;
  align-items: center;
  border-radius: 15px;
  background-color: whitesmoke;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  box-shadow: 5px 4px 10px 6px rgba(0, 0, 0, 0.1);
}
main .steps__list i {
  color: #555555;
  padding-left: 40px;
  padding-right: 20px;
}

.restaurants {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: whitesmoke;
}
.restaurants_cards {
  /* Passage en grille des cards restaurants */
}
@media screen and (min-width: 600px) {
  .restaurants_cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.restaurants_cards_1, .restaurants_cards_2, .restaurants_cards_3, .restaurants_cards_4 {
  /* Animation hover zoom */
  transition: 250ms;
  margin-bottom: 25px;
  box-shadow: 5px 4px 10px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  height: 230px;
}
.restaurants_cards_1:hover, .restaurants_cards_2:hover, .restaurants_cards_3:hover, .restaurants_cards_4:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 1000px) {
  .restaurants_cards_1, .restaurants_cards_2, .restaurants_cards_3, .restaurants_cards_4 {
    /* Espacement plus grand pour aérer la mise en page sur les grands formats */
    margin-bottom: 100px;
  }
}
.restaurants_cards_1 img, .restaurants_cards_2 img, .restaurants_cards_3 img, .restaurants_cards_4 img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
@media screen and (min-width: 1000px) {
  .restaurants_cards_1 img, .restaurants_cards_2 img, .restaurants_cards_3 img, .restaurants_cards_4 img {
    /* Cards plus granges à partir de 1000px */
    height: 100%;
  }
}
@media screen and (min-width: 600px) {
  .restaurants_cards_1, .restaurants_cards_2, .restaurants_cards_3, .restaurants_cards_4 {
    width: 44%;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1000px) {
  .restaurants_cards_1, .restaurants_cards_2, .restaurants_cards_3, .restaurants_cards_4 {
    max-width: 525px;
  }
}
@media screen and (min-width: 1700px) {
  .restaurants_cards_1, .restaurants_cards_2, .restaurants_cards_3, .restaurants_cards_4 {
    max-width: 430px;
  }
}

.rc_1_heading, .rc_2_heading, .rc_3_heading, .rc_4_heading {
  border-radius: 0 0 20px 20px;
  background-color: white;
  height: 30%;
  width: 100%;
  display: flex;
  margin-top: -3px;
}
@media screen and (min-width: 1000px) {
  .rc_1_heading, .rc_2_heading, .rc_3_heading, .rc_4_heading {
    box-shadow: 5px 4px 10px 6px rgba(0, 0, 0, 0.1);
  }
}
.rc_1_heading h3, .rc_2_heading h3, .rc_3_heading h3, .rc_4_heading h3 {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: -3px;
  padding-top: 15px;
  padding-left: 10px;
}
.rc_1_heading p, .rc_2_heading p, .rc_3_heading p, .rc_4_heading p {
  font-size: 18px;
  margin-top: 0px;
  padding-left: 10px;
}

.rc_1_desc, .rc_2_desc, .rc_3_desc, .rc_4_desc {
  position: relative;
  width: 100%;
}
.rc_1_desc i, .rc_2_desc i, .rc_3_desc i, .rc_4_desc i {
  font-size: 27px;
  position: absolute;
  top: 20px;
  right: 35px;
}
.rc_1_desc .fa-solid, .rc_2_desc .fa-solid, .rc_3_desc .fa-solid, .rc_4_desc .fa-solid {
  /* Coeur avec dégradé pour animation hover */
  font-size: 29px;
  top: 20px;
  right: 34px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.rc_1_desc .fa-solid:hover, .rc_2_desc .fa-solid:hover, .rc_3_desc .fa-solid:hover, .rc_4_desc .fa-solid:hover {
  opacity: 1;
}

.New {
  position: relative;
}

.New::before {
  content: "Nouveau";
  /* Class New pour ajouter plus facilement la pastille aux futurs nouveaux restaurants */
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 4px;
  font-weight: normal;
  font-size: 15px;
  width: 68px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 15px;
}

.panel__button {
  /* Même bouton utilisé plusieurs fois dans les différentes pages */
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  width: 225px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  height: 50px;
  border-radius: 50px 50px 50px 50px;
  border: none;
  box-shadow: 5px 4px 19px 6px rgba(0, 0, 0, 0.19);
  transition: all 150ms;
}
.panel__button:hover {
  /* Animation hover boutons */
  transform: scale(1.02);
  opacity: 93%;
  cursor: pointer;
}

.order_button {
  align-items: center;
  text-align: center;
}

footer {
  color: white;
  background-color: #3f3f3f;
}
footer a {
  color: white;
}
footer h2 {
  color: white;
  font-weight: normal;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 15px;
}
footer ul {
  color: white;
  margin-left: -20px;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-bottom: 20px;
}
footer ul li {
  color: white;
  padding-bottom: 7px;
}
footer ul i {
  color: white;
  padding-right: 7px;
}

.return_arrow {
  color: #555555;
  position: absolute;
  top: 20px;
  left: 18px;
  font-size: 25px;
}

.rest_menu {
  margin-top: -25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  border-radius: 20px 20px 0 0;
  background-color: #f3f3f3;
  position: relative;
  /* position relative pour passer au dessus de l'image */
}
@media screen and (min-width: 1100px) {
  .rest_menu {
    padding: 40px;
  }
}
.rest_menu .fa-solidheart, .rest_menu .fa-regularheart {
  font-size: 24px;
  position: absolute;
  right: 30px;
  top: 25px;
}
.rest_menu h2 {
  margin: 0;
  font-weight: normal;
  font-size: 28px;
  padding-left: 10px;
}
.rest_menu h3 {
  animation: fadein 1s;
  border-bottom: 3px solid;
  display: block;
  width: 100px;
  border-image: linear-gradient(to right, #99E2D0 50%, #F3F3F3 50%) 100% 1;
  /* Demi-bordure verte en dessous de Entree, Plats, Desserts */
  margin-top: 35px;
  font-weight: normal;
}
.rest_menu:hover {
  cursor: pointer;
}

.rest_menu .fa-solidheart {
  font-size: 26px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 0;
  /* opacity au survol du coeur animation */
  transition: all 250ms ease-in-out;
  right: 29px;
  top: 24px;
}
.rest_menu .fa-solidheart:hover {
  opacity: 1;
}

.restaurant_pic img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.menu_card {
  min-width: 270px;
  white-space: nowrap;
  /* ellipsis pour points de suspension avec animation */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 4px 10px 6px rgba(0, 0, 0, 0.02);
  transition: 250ms;
}
.menu_card:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 600px) {
  .menu_card {
    width: 43%;
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 885px) {
  .menu_card {
    width: 31%;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.menu_card_heading {
  white-space: nowrap;
  /* ellipsis pour points de suspension avec animation */
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
  width: 80%;
  min-width: 60%;
}
.menu_card_heading p {
  text-overflow: ellipsis;
  /* ellipsis pour points de suspension avec animation */
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.menu_card_heading h4 {
  text-overflow: ellipsis;
  /* ellipsis pour points de suspension avec animation */
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}
.menu_card_price {
  margin-left: auto;
  width: 20%;
}
.menu_card_price p {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: 65%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.menu_card:hover .validated {
  margin-right: 0px;
}
.menu_card:hover .fa-circle-check {
  animation: checkmark 475ms ease-in-out;
  /* rotation icone check */
}

.validated {
  width: 100px;
  background-color: #99E2D0;
  color: white;
  font-size: 15px;
  margin-right: -100px;
  transition: all 450ms ease-in-out;
  /* décalage div verte check */
}
.validated #fa-check-center_1, .validated #fa-check-center_2, .validated #fa-check-center_3, .validated #fa-check-center_4, .validated #fa-check-center_5, .validated #fa-check-center_6, .validated #fa-check-center_7, .validated #fa-check-center_8, .validated #fa-check-center_9, .validated #fa-check-center_10 {
  font-size: 23px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes checkmark {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  /* Keyframe rotation/centre icone check */
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes fadein {
  0% {
    transform: translateY(8vh);
    opacity: 0;
    animation-fill-mode: backwards;
  }
  40% {
    opacity: 0;
    animation-fill-mode: backwards;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    animation-fill-mode: backwards;
  }
}
.Entree {
  animation: 750ms ease 1 normal none running fadein;
  animation-fill-mode: backwards;
}

.Plats {
  animation: 750ms ease 125ms 1 normal none running fadein;
  animation-fill-mode: backwards;
}

.Desserts {
  animation: 750ms ease-in-out 250ms 1 normal none running fadein;
  animation-fill-mode: backwards;
}

@media screen and (min-width: 600px) {
  .Entree_list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 600px) {
  .Plats_list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 600px) {
  .Desserts_list {
    display: flex;
    flex-wrap: wrap;
  }
}

.loader {
  font-size: 50px;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 3s 450ms forwards;
}
.loader span {
  opacity: 0;
  display: inline-block;
  margin: -1px;
  padding: 0;
  -webkit-animation: loading 0.7s 10;
  animation: loading 0.7s 10;
}
.loader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes loading {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(15px);
  }
}
@keyframes loading {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(15px);
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.primary {
  color: #9356DC;
}

.secondary {
  color: #FF79DA;
}

.tertiary {
  color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
