body{
    font-family: "Roboto", "sans-serif";
}

header h1{
    font-family: "Shrikhand", "sans-serif";
}

footer h2{
    font-family: "Shrikhand", "sans-serif";
}

.rest_menu h2{
    font-family: "Shrikhand", "sans-serif";
}

h3{
    font-weight: bold;
}
