.return_arrow{
    color: rgb(85, 85, 85);
    position: absolute;
    top: 20px;
    left: 18px;
    font-size: 25px;
}

.rest_menu{
    margin-top: -25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    border-radius: 20px 20px 0 0;
    background-color: #f3f3f3;
    position: relative;         /* position relative pour passer au dessus de l'image */

    @media screen and (min-width: 1100px){
        padding: 40px;

    }
        .fa-solidheart, .fa-regularheart{
            font-size: 24px;
            position: absolute;
            right: 30px;
            top: 25px;
        }

        h2{
            margin: 0;
            font-weight: normal;
            font-size: 28px;
            padding-left: 10px;
        }

        h3{
            animation: fadein 1s;
            border-bottom: 3px solid;
            display: block;
            width: 100px;
            border-image: linear-gradient(to right, $color-tertiary 50%, #F3F3F3 50%) 100% 1;   /* Demi-bordure verte en dessous de Entree, Plats, Desserts */
            margin-top: 35px;
            font-weight: normal;
        }

        &:hover{
            cursor: pointer;
        }
}

.rest_menu .fa-solidheart{
    font-size: 26px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    @include radient-bg;
    opacity: 0;                                     /* opacity au survol du coeur animation */
    transition: all 250ms ease-in-out;
    right: 29px;
    top: 24px;
    &:hover{
        opacity: 1;
    }
}

.restaurant_pic img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.menu_card{
    min-width: 270px;
    white-space: nowrap;            /* ellipsis pour points de suspension avec animation */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 4px 10px 6px rgba(0, 0, 0, 0.02);
    transition: 250ms;
        &:hover{
            transform: scale(1.05);
        }

        @media screen and (min-width: 600px){
            width: 43%;
            margin-right: 10px;
            margin-left: 10px;
            
        }
        @media screen and (min-width: 885px){
            width: 31%;
            margin-right: 10px;
            margin-left: 10px;
            
        }
        &_heading{
            white-space: nowrap;        /* ellipsis pour points de suspension avec animation */
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 15px;
            width: 80%;
            min-width: 60%;
                p{
                    text-overflow: ellipsis;        /* ellipsis pour points de suspension avec animation */
                    white-space: nowrap;
                    overflow: hidden;
                    padding-bottom: 10px;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                h4{
                    text-overflow: ellipsis;        /* ellipsis pour points de suspension avec animation */
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 18px;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 10px;
                    padding-bottom: 5px;
                }
        }

        &_price{
            margin-left: auto;
            width: 20%;
                p{
                    font-weight: bold;
                    margin-top: 0;
                    margin-bottom: 0;
                    position: relative;
                    top: 65%;
                    left: 70%;
                    transform: translate(-50%, -50%);
                }
        }
        &:hover .validated{
            margin-right: 0px;
        }

        &:hover .fa-circle-check{
            animation: checkmark 475ms ease-in-out;     /* rotation icone check */
        }
}

.validated{
    width: 100px;
    background-color: $color-tertiary;
    color: white;
    font-size: 15px;
    margin-right: -100px;
    transition: all 450ms ease-in-out;      /* décalage div verte check */
    #fa-check-center{
        &_1, &_2, &_3, &_4, &_5, &_6, &_7, &_8, &_9, &_10{
        font-size: 23px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        }
    }
}

@keyframes checkmark{
    0% {
        transform: translate(-50%, -50%) rotate(0deg);  
    }
                                                                /* Keyframe rotation/centre icone check */
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes fadein{
    0% {
        transform: translateY(8vh);
        opacity: 0;
        animation-fill-mode: backwards;
    }

    40% {
        opacity: 0;
        animation-fill-mode: backwards;
    }

    100% {transform: translateY(0px);
        opacity: 1;
        animation-fill-mode: backwards;
    }
}

.Entree{
    animation: 750ms ease 1 normal none running fadein;
    animation-fill-mode: backwards;
}

.Plats{
    animation: 750ms ease 125ms 1 normal none running fadein;
    animation-fill-mode: backwards;
}

.Desserts{
    animation: 750ms ease-in-out 250ms 1 normal none running fadein;
    animation-fill-mode: backwards;
}

.Entree_list{
    @media screen and (min-width:600px){
        display: flex;
        flex-wrap: wrap;
    }
}

.Plats_list{
    @media screen and (min-width:600px){
        display: flex;
        flex-wrap: wrap;
    }
}

.Desserts_list{
    @media screen and (min-width:600px){
        display: flex;
        flex-wrap: wrap;
    }
}
